<div class="span12">
[[#user]]
        <h1>Login [[username]]</h1>
        <table class="table table-striped table-bordered table-hover">
            <tbody>

            <tr>
                <th>emailVerified</th>
                <td>[[#emailVerified]]YES[[/emailVerified]][[^emailVerified]]NO[[/emailVerified]]</td>
            </tr>

            <tr>
                <th>apiKey</th>
                <td>[[apiKey]]</td>
            </tr>

            <tr>
                <th>email</th>
                <td>[[email]]</td>
            </tr>

            <tr>
                <th>_id</th>
                <td>[[_id]]</td>
            </tr>

            <tr>
                <th>salt</th>
                <td>[[salt]]</td>
            </tr>

            <tr>
                <th>password</th>
                <td>[[password]]</td>
            </tr>
            </tbody>
        </table>
<p>Roles</p>
[[roles]]
[[/user]]
</div>