<table>
    <tr>
        <td>
            <h1>Please, authorize!</h1>
            <p>Pretend, that this is twitter bootstrap)</p>
            <form method="post" action="/auth/login">
                <input type="hidden" name="_csrf" value="{{csrf}}"/>

                <p>Username or email</p>

                <p><input type="text" name="username" value=""/></p>

                <p>Password</p>

                <p><input type="password" name="password" value=""/></p>

                <p><input type="checkbox" name="rememberMe" value="1"/> Remember me</p>

                <p><input type="submit" value="Enter"/></p>
            </form>
            {{#useGoogle}}
            <p><a href="/auth/google">Sign in by google</a></p>
            {{/useGoogle}}

            {{#useGithub}}
            <p><a href="/auth/github">Sign in by github</a></p>
            {{/useGithub}}

            {{#useTwitter}}
            <p><a href="/auth/twitter">Sign in by twitter</a></p>
            {{/useTwitter}}

            {{#useFacebook}}
            <p><a href="/auth/facebook">Sign in by facebook</a></p>
            {{/useFacebook}}
        </td>
        <td>
            <h1>Register</h1>

            <form method="post" action="/auth/signup">
                <input type="hidden" name="_csrf" value="{{csrf}}"/>

                <p>Username</p>

                <p><input type="text" name="username" value="" pattern="^[a-zA-Z0-9_]{3,32}$"/></p>

                <p>Email</p>

                <p><input type="text" name="email" value=""/></p>

                <p>Password</p>

                <p><input type="password" name="password" value=""/></p>

                <p><input type="checkbox" name="rememberMe" value="1"/> Remember me</p>

                <p><img src="/captcha.jpg" alt="" title=""/></p>

                <p>Enter security code</p>

                <p><input type="text" name="captcha" value=""/></p>

                <p><input type="submit" value="Enter"/></p>
            </form>
        </td>
    </tr>
</table>